*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "Arial";
	font-weight: 600;
}
#wrapper{
	width: 100%;
	border: 1px solid red;
}
.topmenu{
	height: 50px;
	background-color: #a8f0d2;

}
.topmenu ul li {
	display: inline;
}
.logo{
	float: left;
	width: 25%;
	height: 100px;
	border: 1px solid black;
}
.menu{
	width: 74%;
	float: left;
	
	border: 1px solid green;
}
.menu ul{
	
	padding:40px 0px;
	
}
.menu ul li{
	display: inline;
	padding:0 10px;
	
}
.menu ul li a{
	color: black;
	text-decoration: none;
}
.banner{
	border: 5px solid blue;
	clear: both;
	background-image: url(../img/logo.png);
	height: 500px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.product{
	width: 20%;
	outline: 1px solid #424242;
	float: left;
	/*margin: 0 5px 5px 5px;*/
	/*padding: 5px;*/
	overflow: hidden;

}
.productwrap{
	margin-top:20px;
	width: 80%;
	margin:0 auto;
	clear: both;

}
.productwrap h1{
	color: #424242;
	border-bottom: 1px dashed #424242;
	margin-bottom: 10px;
}
.footer{
	background-color: #ccc;
	height: 100px;
	clear: both;
	text-align: center;
	padding-top: 20px;

}
.products{
	margin-bottom: 20px;
	float: left;
}
.contact_form{
	clear: both;
	margin:0 auto;
	width: 80%;
	background-color: #ccc;
}
.contact_form form{
	padding-left:30%;
}
.contact_form ul{
	list-style:none;
	padding:10px 0 10px 0;
}
.contact_form form ul li .form_control{
	width: 50%;
	padding: 10px;
	border-radius: 10px;
	border:1px solid gray;
}
.form_control:focus{
	outline: 1px solid red;
	
}
.our-team{
	width: 80%;
	margin: 0 auto;
	clear: both;
}
.our-team table{
	width: 100%;
	border:1px solid black;
	margin-top: 20px;
}
.our-team table th{
	font-size:20px;
	font-weight:400;
}